# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\zzang\OneDrive\바탕 화면\스터디\Java-OOP-설계&구현\JavaOOP_Parking\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
